<section class="operation-dialog">
    <menu class="unlist">
        <li>
        <label>
            <dnd5e-checkbox checked name="clear-sources"></dnd5e-checkbox>
            <span>Clear Compendium source configuration and reset enabled</span>
        </label>
    </li>
    <li>
        <label>
            <dnd5e-checkbox checked name="clear-selections"></dnd5e-checkbox>
            <span>Clear approved content selections</span>
        </label>
    </li>
    </menu>
    <p><strong>WARNING: This operation cannot be reversed</strong></p>
</section>