<section class="operation-dialog">
    <p>Select which item types to enable filtering</p>
    <menu class="pack-list unlist base">
        {{#each itemtypes}}
        <li class="enable-options">
            <label class="compendium-checkbox">
                <dnd5e-checkbox data-action="toggleSetting" 
                    {{#if checked}}checked{{/if}} name={{type}}
                ></dnd5e-checkbox>
                <div class="checkbox-label">
                    <dnd5e-icon class="compendium-icon" src="{{ icon }}"></dnd5e-icon>
                    <span">{{label}}</span>
                </div>
            </label>
        </li>
        {{/each}}
</section>