<div>
    <p>Create a player-readable handbook for the content you've selected.</p>
<menu class="standard-form" style="display: inline-block">
    <div class="column" style="float:left; padding-right:4px;">
    <fieldset data-application-part="content">
        <legend>Content Selection</legend>
        <div class="form-group">
            <label>
                Classes
            </label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="class"
                    {{#if options.class}}checked{{/if}}
                />
            </div>
            <p class="hint">Includes classes, subclasses, and their associated spell lists</p>
        </div>
        <div class="form-group">
            <label>
                Species
            </label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="races"
                    {{#if options.races}}checked{{/if}}
                />
            </div>
        </div>
        <div class="form-group">
            <label>
                Backgrounds
            </label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="backgrounds"
                    {{#if options.backgrounds}}checked{{/if}}
                />
            </div>
        </div>
       <div class="form-group">
            <label>
                Feats
            </label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="feats"
                    {{#if options.feats}}checked{{/if}}
                />
            </div>
        </div>
       <div class="form-group">
            <label>
                Spells
            </label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="spells"
                    {{#if options.spells}}checked{{/if}}
                />
            </div>
        </div>
    </fieldset>
    
    <fieldset data-application-part="content-config">
        <legend>Content Configuration</legend>
        <div class="form-group">
            <label>Existing Pages</label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="existingPages"
                    {{#if options.existingPages}}checked{{/if}}
                />
            </div>
            <p class="hint">Use class and subclass pages found in compendiums in this world instead of generating basic ones.</p>
        </div>
        <div class="form-group">
            <label>Override Pages</label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption"
                    name="overridePages"
                    {{#if options.overridePages}}checked{{/if}}
                    {{#if noOverrideSet}}disabled{{/if}}
                />
            </div>
            <p class="hint" {{#if noOverrideSet}}style="text-decoration: line-through;"{{/if}}>
                Use user-provided pages from the override compendium instead of using those found in other compendiums.
            <p>
            {{#if noOverrideSet}}
                <i>No override compendium configured</i>
            {{/if}}
        </div>
    </fieldset>
  </div>
  <div class="column" style="float:right; padding-left:4px;">
    <fieldset data-application-part="journal-config">
        <legend>Handbook Journal Configuration</legend>
        <!-- <div class="form-group is-checkbox">
            <label>Create Handbook Journals</label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="createAsJournals"
                    {{#if options.createAsJournals}}checked{{/if}}
                />
            </div>
            <p class="hint">Creates the player handbook as a set of journals in folder in your Journal Directory</p>
        </div> -->

        <!-- <div class="form-group is-checkbox">
            <label>Create Handbook Compendium</label>
            <div class="form-fields">
                <dcm-checkbox
                    class="compendium-checkbox"
                    data-action="toggleOption",
                    name="createAsJournals"
                    {{#if options.createAsJournals}}checked{{/if}}
                />
            </div>
            <p class="hint">Creates the player handbook as compendium that functions similarly to the Player Handbook module (access the table of contents by opening the compendium)</p>
        </div> -->
    
        <div class="form-group">
            <label>Title</label>
            <div class="form-fields">
                <input type="text" 
                    name="folderTitle" 
                    value="{{folderTitle}}" 
                    placeholder="{{options.folderTitle}}" 
                    data-dtype="String"
                />
            </div>
            <p class="hint">Title used for the generated handbook and/or compendium. If a folder or compendium with a matching title already exists, it's content will be replaced</p>
        </div>

        <div class="form-group">
            <label>Journal Style</label>
            <div class="form-fields">
                <select name="styleOption">
                    {{#each styleOptions}}
                        <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                    {{/each}}
                </select>
            </div>
            <p class="hint">Choose the journal style used for the generated journals.</p>
        </div>
    </fieldset>

</div>
</menu>

</div>

