{{#*inline ".packs"}}

<fieldset class="card packs-section tab {{cssClass}}">
    <legend>{{ label }}</legend>
    <menu class="packs-list unlist {{ type }}">
        {{#if (gt entries.length 1)}}
        <li class="compendium-list-row all">
            <label class="checkbox">
                <dnd5e-checkbox name="all-{{ type }}" {{ checked checked }} data-type="pack"
                                category="{{ category }}"
                                data-action="selectAll"
                                {{#if indeterminate}}indeterminate{{/if}}></dnd5e-checkbox>
                <span class="title">{{ localize "Select All" }}</span>
            </label>
        </li>

        <li class="compendium-list-row header-row">
            <div class="compendium-row-label header-labels">
                <div class="left-text">
                    <span class="title" style="margin-right: 50px">Name</span>
                    <span class="metadata">{{metadataLabel}}</span>
                </div>
                <div class="right-text">
                    <span class="source">Source</span>
                    <span class="module">Module</span>
                </div>
            </div>
        </li>

        {{/if}}
        {{#each entries}}
        <li class="compendium-list-row">
            
            <a class="entity-link" draggable="true" data-entity="Item" data-action="openItem", 
                data-id="{{ uuid }}">
                <img class="compendium-icon" src="{{ img }}" width=20px height=20px>
            </a>

            <label class="checkbox compendium-checkbox">
                <dnd5e-checkbox 
                    class="compendium-checkbox"
                    data-action="selectPack"
                    name="{{ uuid }}" 
                    {{ checked checked }} 
                    data-type="pack"
                    category="{{ ../category }}"
                ></dnd5e-checkbox>

                <div class="compendium-row-label">
                    <div class="left-text">
                        <span class="title">{{ label }}</span>
                        <span class="metadata">{{ metadata }}</span>
                    </div>
                    <div class="right-text">
                        <span class="source">{{ sourceName }}</span>
                        <span class="module">{{ moduleName }}</span>
                    </div>
                </div>
            </label>
        </li>
        {{/each}}
    </menu>
</fieldset>

{{/inline}}

<section class="content-selector">
    {{#if isSpelllist}}
        <div class="filter note roboto-condensed-upper">
            <p>Work In Progress</p>
            <p>Spell lists are only updated when the game is reloaded. In addition, spell lists loaded by modules
            cannot be unloaded.</p>
        </div>
    {{/if}}
    {{#if enabled}}
        {{#if entries.length}}
            {{#each entries}}
                {{> ".packs" this}}
            {{/each}}
        {{else}}
            <div class="filter note roboto-condensed-upper">
                <p>No compendium sources selected</p>
            </div>
        {{/if}}
    {{else}}
        <div class="filter note roboto-condensed-upper">
            <p>Managing {{type}} disabled</p>
        </div>
    {{/if}}
</section>