{{#*inline ".packs"}}

<fieldset class="card packs-section tab {{cssClass}}">
    <legend>{{ localize label }}</legend>
    <menu class="packs-list unlist {{ type }}">
        {{#if (gt entries.length 1)}}
        <li class="all">
            <label class="checkbox">
                <dnd5e-checkbox name="all-{{ name }}" {{ checked checked }} data-type="pack"
                                category="{{ itemType }}"
                                data-action="selectAll"
                                {{#if indeterminate}}indeterminate{{/if}}></dnd5e-checkbox>
                <span class="title">{{ localize "All" }}</span>
            </label>
        </li>
        <hr/>
        {{/if}}
        {{#each entries}}
        <li class="compendium-list-row">
            <label class="checkbox compendium-checkbox">
                <dnd5e-checkbox 
                    data-action="selectPack"
                    name="{{ uuid }}" 
                    {{ checked checked }} 
                    {{#if fixed}}disabled{{/if}}
                    data-type="pack"
                    category="{{ ../itemType }}"
                ></dnd5e-checkbox>
                <div class="compendium-row-label">
                    <span class="title">{{ label }}</span>
                    <span class="source">({{ name }})</span>
                </div>
            </label>
        </li>
        {{/each}}
    </menu>
</fieldset>

{{/inline}}

<section class="pack-selector">


    <div class="enabled-toggle">
        <label>
        <slide-toggle data-action="toggleEnabled" name="{{type}}" {{#if enabled}}checked{{/if}}>    
        <div class="slide-toggle-track">
            <div class="slide-toggle-thumb"></div>
        </div>
        </slide-toggle>
        <span>Apply Management</span>
        </label>
    </div>


    {{#each tab}}
        {{> ".packs" this}}
    {{/each}}
</section>