<section class="sidebar">
    <hr/>
    <menu class="pack-list unlist base">
        <!-- <hr/> -->
        {{#each categories}}
        <li {{#if active}}class="active"{{/if}} category="{{category}}">
            <a class="pack item control {{#if active}}active{{/if}}" 
                data-group="primary" category="{{id}}" data-action="changeTab"
            >   
                <dnd5e-icon class="compendium-icon" src="{{ svg }}"></dnd5e-icon>
                <span class="title">{{ label }}</span>
            </a>
            <!-- <hr/> -->
        </li>
        {{/each}}
    </menu>
    <hr/>


    <div class="sidebar-part filter-element">
        <search aria-label="Search results">
            <input type="text" name="search-text" placeholder="Search options" data-action="setFilter"/>
            <ul class="unlist controls">
                <li>
                    <button type="button" class="unbutton filter-control" data-action="clearSearch">
                        <i class="fas fa-xmark"></i>
                    </button>
                </li>
            </ul>
        </search>
    </div>

    {{#if groups}}
        <div class="filter">
            <span class="filter-title">Group By:</span>
            <menu class="filter-list unlist base">
                {{#each groups}}
                <li>
                    <label>
                        <dcm-checkbox 
                            class="compendium-checkbox"
                            data-action="selectGrouping"
                            name="{{ id }}"
                            category="{{ itemtype }}"
                            {{#if checked}}checked{{/if}}
                            data
                        ></dcm-checkbox>
                        <span>{{label}}</span>
                    </label> 
                </li>
                {{/each}}
                <hr/>
                <li>
                    <label>
                        <dcm-checkbox 
                            class="compendium-checkbox"
                            data-action="selectGrouping"
                            name="duplicates"
                            category="{{itemtype}}"
                            {{#if duplicates}}checked{{/if}}
                            data
                        ></dcm-checkbox>
                        <span>Find Duplicates</span>
                    </label> 
                </li>
            </menu>
        </div>
        <hr/>
    {{/if}}
</section>